.contenido{
  width: 100%;
 
}
.numero1{
  display: grid;
  text-align: center;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 6em 3em 5em;
}
.linea{
  grid-column: 1/7;
  background: #0FBCF9;
  height: 5px;
  margin-bottom: 15px;
  border-radius: 0 10px 10px 0;
}
.icono{
  grid-column: 4/7;
  background-image: url(../Imagenes/icon1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icono2{
  grid-column: 4/7;
  background-image: url(../Imagenes/icon5.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icono3{
  grid-column: 4/7;
  background-image: url(../Imagenes/icon4.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.tit{
  grid-column: 1/-1;
  font-size: 1.5em;
  text-align: center;
  margin-top: 5px;
}
.con{
  grid-column: 1/-1;
  align-self: center;
  text-align: center;

}
.linear{
  grid-column: 3/-1;
  background: #0FBCF9;
  height: 5px;
  margin-bottom: 15px;
  border-radius: 10px 0 0 10px;
}

@media (min-width: 320px){
 .con{
   margin: 0px 25px 10px 25px;
 }
 .linea{
   grid-column: 1/4;
 }
 .linear{
   grid-column: -1/4;
 }
}

@media(min-width: 480px){
  .con , .tit{
    font-size: 1.4em;
  }
  .con{
    margin: 0px 35px 15px 35px;
  }

}
@media(min-width:600px){
  .numero1{
    grid-template-rows: 6em 3em 6em;
  }
  .con, .tit{
    font-size: 1.5em;
  }
  .linea{
    grid-column: 1/6;
    height: 7px;
  }
  .linear{
    grid-column: -1/5;
    height: 7px;
  }
}
@media(min-width:768px){
.icono,.icono3{
  grid-column: 1/3;
  grid-row: 1/ 3;
}
.tit{
  grid-column: 3/calc(-1 - 1);
  text-align: start;
  box-sizing: border-box;
  padding-top: 45px;
  font-size: 2.6em;
}
.con{
  grid-column: 3/calc(-1 - 1);
  text-align: start;
  margin: 0;
  margin-top: 40px;
  font-size: 1.6em;
}
.linea{
  grid-column: 2/5;
  margin-top: 50px;
  border-radius: 15px;
}
.linear{
  border-radius: 15px;
}

.icono2{
  grid-column: 8/-1;
  grid-row: 1/3;
}
#tr{
  grid-column: calc(1 + 1)/8;
  text-align: right;
}
#cr{
  grid-column: calc(1 + 1)/8;
  
  text-align: right;
}

.linear{
  grid-column: 6/calc(-1 - 1);
  margin-top: 50px;
}

}
@media(min-width:900px){
  .icono,.icono3{
    grid-column: 2/4;

  }
  .tit,.con{
    grid-column: 4/calc(-1 - 2);
  }
 
  .linea{
    grid-column: 3/5;
  }
  #tr, #cr{
    grid-column: calc(1 + 2)/7;
  }
  .linear{
    grid-column: 6/8; 
  }
  .icono2{
    grid-column: 7/calc(-1 - 1);
  }

}

@media(min-width:1200px){
  .linea{
    grid-column: 3/4;
  }
  .linear{
    grid-column: 7/8; 
  }
}