/* line 4, src-TT/Sass/EstilosParte.scss */
* {
  margin: 0;
  padding: 0; }

/* line 9, src-TT/Sass/EstilosParte.scss */
.NoDisponible {
  display: none; }

/* line 13, src-TT/Sass/EstilosParte.scss */
.CentroV {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 19, src-TT/Sass/EstilosParte.scss */
.area {
  -webkit-transform: translateY(-35px);
  transform: translateY(-35px);
  height: 75vh;
  background-image: url("../Imagenes/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 1px 1px 27px #000000;
  box-shadow: 1px 1px 27px #000000; }

/* line 32, src-TT/Sass/EstilosParte.scss */
.texto {
  color: #fff3e0;
  text-align: center;
  padding-top: .7em;
  font-size: 2.2em;
  -webkit-transform: translateY(12px);
  transform: translateY(12px); }

/* line 40, src-TT/Sass/EstilosParte.scss */
.c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

/* line 44, src-TT/Sass/EstilosParte.scss */
.figura {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  border-top: solid 3px #fff3e0;
  border-left: 3px solid #fff3e0;
  border-right: 3px solid #fff3e0;
  border-bottom: 5px solid transparent;
  overflow: hidden; }
  /* line 56, src-TT/Sass/EstilosParte.scss */
  .figura:after {
    content: "";
    position: relative;
    display: inline-block;
    min-height: 1.33333em;
    min-width: 1.33333em;
    left: 50%;
    top: 50%;
    -webkit-transform: rotate(45deg) translate(-70%) skew(10deg, 10deg);
    transform: rotate(45deg) translate(-70%) skew(10deg, 10deg);
    background: #fff3e0; }

/* line 72, src-TT/Sass/EstilosParte.scss */
.texto2 {
  display: inline-block;
  width: 90%;
  color: #fff3e0;
  text-align: center;
  padding: 1em;
  border-radius: 15px;
  border: #fff3e0 3px solid;
  font-size: 1.1em;
  line-height: 20px;
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px); }

/* line 85, src-TT/Sass/EstilosParte.scss */
.linea {
  background: #fff3e0;
  width: 3px;
  height: 50px;
  -webkit-transform: translateY(-23px);
  transform: translateY(-23px); }

/* line 98, src-TT/Sass/EstilosParte.scss */
.bar1 {
  background: red; }
  /* line 100, src-TT/Sass/EstilosParte.scss */
  .bar1 img {
    width: 9em;
    float: left; }

/* line 106, src-TT/Sass/EstilosParte.scss */
.AL {
  background: yellow; }

/* line 110, src-TT/Sass/EstilosParte.scss */
.textobar {
  background: #1B5E20;
  margin-left: 20px; }

/* line 115, src-TT/Sass/EstilosParte.scss */
.titulo > h2 {
  font-size: 4em;
  text-align: left;
  color: #000;
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%); }

/* line 123, src-TT/Sass/EstilosParte.scss */
.descripcion > p {
  font-size: 3em;
  color: #747D8C; }

/* line 130, src-TT/Sass/EstilosParte.scss */
#lolo {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 0; }
  /* line 137, src-TT/Sass/EstilosParte.scss */
  #lolo #line {
    background: #0fbcf9;
    width: 25%;
    height: 0.2em;
    border-radius: 7em;
    margin-left: -16%;
    margin-right: auto; }

@media screen and (max-width: 239px) {
  /* line 152, src-TT/Sass/EstilosParte.scss */
  .contenedor {
    display: none; }
  /* line 155, src-TT/Sass/EstilosParte.scss */
  .NoDisponible {
    display: inline-block;
    position: absolute;
    color: #B71C1C;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border: .5px  solid #B71C1C;
    border-radius: 10px;
    padding: 1em 2em;
    -webkit-box-shadow: 1px 1px  10px #B71C1C;
    box-shadow: 1px 1px  10px #B71C1C; }
  /* line 159, src-TT/Sass/EstilosParte.scss */
  .ImagenNoDisponible {
    width: 5em; } }

@media screen and (min-width: 320px) and (max-width: 479px) {
  /* line 173, src-TT/Sass/EstilosParte.scss */
  .texto {
    font-size: 3em; }
  /* line 175, src-TT/Sass/EstilosParte.scss */
  .figura {
    height: 5em;
    width: 5em;
    border-top: solid 4px #fff3e0;
    border-left: 4px solid #fff3e0;
    border-right: 4px solid #fff3e0; }
    /* line 22, src-TT/Sass/mixins/estilos_porT.scss */
    .figura:after {
      min-height: 1.66667em;
      min-width: 1.66667em; }
  /* line 179, src-TT/Sass/EstilosParte.scss */
  .contFug {
    padding-top: 10px; } }

@media screen and (min-width: 480px) and (max-width: 599px) {
  /* line 187, src-TT/Sass/EstilosParte.scss */
  .texto {
    font-size: 3.5em; }
  /* line 188, src-TT/Sass/EstilosParte.scss */
  .figura {
    height: 6em;
    width: 6em;
    border-top: solid 5px #fff3e0;
    border-left: 5px solid #fff3e0;
    border-right: 5px solid #fff3e0; }
    /* line 34, src-TT/Sass/mixins/estilos_porT.scss */
    .figura:after {
      min-height: 2em;
      min-width: 2em; }
  /* line 191, src-TT/Sass/EstilosParte.scss */
  .contFug {
    padding-top: 12px; } }

@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 199, src-TT/Sass/EstilosParte.scss */
  .texto {
    font-size: 3.5em; }
  /* line 203, src-TT/Sass/EstilosParte.scss */
  .figura {
    height: 6em;
    width: 6em;
    border-top: solid 5px #fff3e0;
    border-left: 5px solid #fff3e0;
    border-right: 5px solid #fff3e0; }
    /* line 46, src-TT/Sass/mixins/estilos_porT.scss */
    .figura:after {
      min-height: 2em;
      min-width: 2em; }
  /* line 206, src-TT/Sass/EstilosParte.scss */
  .contFug {
    padding-top: 12px; } }

@media screen and (min-width: 768px) and (max-width: 899px) {
  /* line 213, src-TT/Sass/EstilosParte.scss */
  .texto {
    font-size: 3.5em; }
  /* line 216, src-TT/Sass/EstilosParte.scss */
  .figura {
    height: 6em;
    width: 6em;
    border-top: solid 5px #fff3e0;
    border-left: 5px solid #fff3e0;
    border-right: 5px solid #fff3e0; }
    /* line 46, src-TT/Sass/mixins/estilos_porT.scss */
    .figura:after {
      min-height: 2em;
      min-width: 2em; }
  /* line 220, src-TT/Sass/EstilosParte.scss */
  .texto2 {
    width: 80%; }
  /* line 223, src-TT/Sass/EstilosParte.scss */
  .contFug {
    padding-top: 12px; } }

@media screen and (min-width: 900px) and (max-width: 1199px) {
  /* line 231, src-TT/Sass/EstilosParte.scss */
  .texto {
    font-size: 3.5em; }
  /* line 234, src-TT/Sass/EstilosParte.scss */
  .figura {
    height: 6em;
    width: 6em;
    border-top: solid 5px #fff3e0;
    border-left: 5px solid #fff3e0;
    border-right: 5px solid #fff3e0; }
    /* line 46, src-TT/Sass/mixins/estilos_porT.scss */
    .figura:after {
      min-height: 2em;
      min-width: 2em; }
  /* line 238, src-TT/Sass/EstilosParte.scss */
  .texto2 {
    width: 75%; }
  /* line 241, src-TT/Sass/EstilosParte.scss */
  .contFug {
    padding-top: 12px; } }

@media screen and (min-width: 1200px) {
  /* line 249, src-TT/Sass/EstilosParte.scss */
  .texto {
    font-size: 4em; }
  /* line 252, src-TT/Sass/EstilosParte.scss */
  .figura {
    height: 6em;
    width: 6em;
    border-top: solid 5px #fff3e0;
    border-left: 5px solid #fff3e0;
    border-right: 5px solid #fff3e0; }
    /* line 46, src-TT/Sass/mixins/estilos_porT.scss */
    .figura:after {
      min-height: 2em;
      min-width: 2em; }
  /* line 256, src-TT/Sass/EstilosParte.scss */
  .texto2 {
    width: 65%; }
  /* line 259, src-TT/Sass/EstilosParte.scss */
  .contFug {
    padding-top: 12px; } }
