/*Estilos por defecto*/

.estilo-texto{
outline: none;
border: 0;
width: 100%;
height: 3em;
box-shadow: 0px 4px 6px rgb(53, 96, 160);
margin-bottom: 10px;
border-radius: 8px;
padding: 10px 20px;
box-sizing: border-box;
}
body{
  background: #7474BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
fieldset{
  border: 0;
}
form{
  width: 100%;
}
.espacio{
  height: 15px;
}
.Ok{
  display: block;
  margin: auto auto;
  border: 0;
  width: 70%;
  height: 2.5em;
  color: #ffffff;
  border-style: none;
  background: rgb(81, 106, 208);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgb(53, 96, 160);
}
.Reset{
  display: block;
  margin: auto auto;
  border:0;
  width: 70%;
  height: 2.5em;
  background: #1d7392;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0px 4px 6px rgb(53, 96, 160);
}
.icono-registro{
  margin: auto auto;
  width: 40%;
  display: block;
  padding-top: 10px;
  padding-bottom: 20px;  
}
.h1{
  padding-top: 50px;
  color: #ffffff;
  text-align: center;
  font-size: 2em;
}


/*Iniciar el grid*/


main{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

/*Posicionamiento*/

.h1{
  grid-column: 1/-1;
}

.icono-registro{
  grid-column: 1/-1;
}
form{
  grid-column: 1/-1;
}
/* .elementos{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
.estilo-texto{
  grid-column: 1/-1;
} */

@media(min-width:320px){
.h1{
  font-size: 2.5em;
}
.estilo-texto{
  height: 4em;
   
}
.Ok{
  height:3em;
  width: 80%;
  font-size: 1em; 
  background: #1f82a5;
}
}
@media(min-width:480px){
.h1{
  font-size: 3.1em;
}
.estilo-texto{
  width: 80%;

}
.elementos{
  text-align: center;
}
.icono-registro{
  width: 30%;
}
.Ok{
  width: 60%;
}
}

@media(min-width:600px){
.icono-registro{
  width: 25%;
}
.estilo-texto{
  width: 65%;
  margin-bottom: 15px;
}
}

@media(min-width:768px){

.icono-registro{
  grid-column: 1/4;
  /* background: #000;
 */
 width: 200%;
 z-index: -1;
 transform: translateY(-15px);
}
form{
  grid-column: 4/-1;
}
}

@media(min-width:900px){
.estilo-texto{
  width: 55%; 
}
.Ok{
  width: 45%;
}
}
@media(min-width:1200px){

  .elementos{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* background: #1f82a5; */
  }
  .estilo-texto{
    grid-column: 3/-1;
    /* background: #000; */
    width: 500px;
  }
  .Ok{
    grid-column: 3/6;
    width: 200px;
    margin: 0;
  }
  .icono-registro{
    /* text-align: center;  */
    grid-column: 2/4;
    width: 600px;
    margin-left: 20%;
  }
}